<ul>
    {{!-- Display each item within the key burgers imported from the controller --}}
    {{#each articles}}
        {{!-- UNLESS devoured is true --}}
            <li>
                <p id={{this.id}}> 
                    {{!-- Value of burger_name from the imported object --}}
                    {{this.title}}.
                    {{this.summary}}
                    {{this.href}}
                </p>
            </li>
    {{/each}}
</ul>
